@tailwind base;
@tailwind components;
@tailwind utilities;

/* Importer les styles Sass spécifiques à chaque besoin */
@import "../besoin1/styles/besoin1.scss";
@import "../besoin2/styles/besoin2.scss";
@import "../besoin3/styles/besoin3.scss";
